@import "../style/mixin.scss";

.slide-item {
  display: none;

  &--active {
    display: block;
  }
}

.slide__img-box {
  @include setFlex(center, null, null);
  height: 13.125rem;
}

.slide__img {
  width: 19.688rem;
  height: 100%;
}

.slide-text {
  margin: 2.563rem 0 1.063rem;
}

.slide-subject {
  display: block;
  margin-bottom: 0.875rem;
  font-size: 1.688rem;
  text-align: center;
}

.slide-explanation {
  display: block;
  font-size: 0.938rem;
  color: #999;
  text-align: center;
}

.slide-paging-box {
  @include setFlex(center, center, null);
}

.slide-paging {
  display: inline-flex;
  margin: 0 1.25rem;

  li {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.313rem;
    border: 1px solid #dedede;
    border-radius: 50%;
  }

  &--active {
    background-color: #dedede;
  }
}
