@import "../style/mixin.scss";

.header {
  @include setFlex(space-between, center, null);
  height: 3.75rem;
  padding: 1.875rem 1.875rem 0.625rem;

  &__logo {
    width: 4.375rem;
    height: 1.5rem;
  }
}
